@import url("https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Noto+Sans+KR&display=swap");

#root {
  background-color: white;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 30px 0px;
}

body {
  font-family: "Black Han Sans", sans-serif;
  background-color: #e6e6e6;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}

.App {
  font-family: "Noto Sans KR", sans-serif;
  padding: 0 20px 0 20px;
}

@media (min-width: 650px) {
  .App {
    width: 640px;
  }
}

@media (max-width: 650px) {
  .App {
    width: 90vw;
  }
}
